.documento {
    position: relative;
}

.download-icon {
    position: absolute; 
    right: 10px; 
    top: 10px;
    z-index: 5000;
}
.spinner {
    position: absolute; 
    top:     50%; 
    left:    50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
  }
