.agenda-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sem-agendamentos {
    margin-top: 20%;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem;
}

.botao-ligacao {
    padding-top: 1.4rem;
}

.nome-unidade {
    padding-top: 1.4rem;
    font-size: 1rem;
}

.titulo-agenda {
    font-size: 1rem;
    padding: 0.5rem 0;
    font-weight: bold;
    text-align: center;
    color: rgb(4, 112, 131);
}

.nome-paciente {
    font-size: 0.9rem;
    padding: 0.5rem 0;
    font-weight: bold;
    text-align: center;
    color: rgb(4, 112, 131);
}

.call-button {
    position: absolute; 
    top: -12px; 
    right: -6px
}

.agenda {
    max-width: 540px;
    min-width: 360px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2rem 1px;
    border-radius: 20px;
    padding: 13px;
    padding-bottom: 40px;
    position: relative;
}

.data {
    margin-top: 1rem;
    padding: 0.5rem 0 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dia {
    font-size: 2rem;
}

.mes-ano {
    display: inline-block;
    padding-left: 0px 6px 0 40px;
    vertical-align: top;
}
.dia-semana {
    font-size: 12px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.hora {
    display: inline-block;
    padding: 10px 10px 0 40px;
    vertical-align: top;
}

.medico-especialidade {
    display: block;
    padding-left: 5.6rem;
    max-width: calc(100vw - 10rem);
    font-size: 0.9rem;
    padding-top: 0.5rem;
}
.medico {
    padding: 10px 0 0 0;
    display: inline-block;
}

.chamada {
    position: absolute;
    right: 10px;
    top: 5px;
}

.preparo {
    position: absolute;
    right: 10px;
    top: 5px;

}

.detalhes {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    min-height: 40px;
    padding-bottom: 10px;
    }

.lista-exames {
    list-style:none;
    font-size: 0.8rem;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.exibe-preparo {
    max-width: 300px;
    color: #3a3838;
    padding: 0.5rem;
    padding-bottom: 1rem;
    position: relative;
    font-family: monospace;
    font-size: 1rem;
}

.preparo-unico {
    max-width: 263px;
    font-family: monospace;
    font-size: 1rem;
    padding-top: 0.3rem;
}