<div class="agenda-container" *ngIf="loaded">
    <div class="agenda" *ngIf="documentos?.length != 0;">

        <div class="titulo-documentos">
            Documentos emitidos para<br>
        </div>

        <div class="nome-paciente">
            {{ pacienteSelecionado }}
        </div>

        <div class="data">
            <div *ngFor="let documento of documentos; let idx = index;">
                <div class="item-info" (tap)="exibeDocumento(documento.nrAtendimento, 
                                                             documento.anoAtendimento,
                                                             documento.cdCredenciado,
                                                             documento.cdProcedimento,
                                                             documento.Matricula);">
                    <div class="item-data">
                        {{ documento.dtAtendimento }} 
                    </div>
                    <div class="item-data">
                        {{ documento.Procedimento }}
                    </div>
                    <div class="item-icon">
                        <mat-icon>content_paste</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div *ngIf="documentos.length == 0" class="sem-documentos">
        <p>{{ pacienteSelecionado }}</p>
        Não existem documentos, tais como exames, atestados ou receituários emitidos para você nos últimos dias.<p>
    </div>

</div>
<div *ngIf="!loaded" class="spinner">
    <mat-progress-spinner [diameter]="50" [color]="'warn'" [mode]="'indeterminate'"></mat-progress-spinner>
</div>