<div class="agenda-container">
    <div class="agenda" *ngIf="documentos?.length != 0;">

        <div class="titulo-documentos">
            Documentos emitidos em seu nome<br>
        </div>

        <div class="nome-paciente">
            {{ pacienteSelecionado }}
        </div>

        <div class="data">
            <div *ngFor="let documento of documentos; let idx = index;">
                <div class="item-info" (tap)="exibeDocumento(documento.htmlUrl);">
                    <div class="item-data">
                        {{ documento.dtAtendimento }} 
                    </div>
                    <div class="item-data">
                        {{ documento.Procedimento }}
                    </div>
                    <div class="item-icon">
                        <mat-icon>content_paste</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div *ngIf="loaded && documentos.length == 0" class="sem-documentos">
        <p>{{ pacienteSelecionado }}</p>
        Não existem documentos, tais como exames, atestados ou receituários emitidos para você nos últimos dias<p>
    </div>

</div>