/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif; }

html {
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(300deg, rgba(195, 195, 195, 0.3) 0%, rgba(255,255,255,1) 100%); 
}

.spinner {
    position: absolute; 
    top:     45%; 
    left:    50%;
    transform: translateX(-50%);
  }